@import './../../../variebles.scss';

.userMenu {
    position: relative;
}

.user {
    cursor: pointer;
    display: flex;
    align-items: center;  
}

.list {
    z-index: 100;
    top: 51px;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background: white;
    padding: 7px;
    width: 134px;

    &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        right: 39px;
        top: -6px;
        background-color: white;
        transform: rotate(45deg);
    }
}

.listItem {
    margin-bottom: 5px;
}

.listLink {
    font-size: 14px;
    color: $text2-color;
    transition: all 0.3s ease;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -2px;
        left: 50%;
        width: 0;
        background-color: black;
        transition: all 0.3s ease;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.noRotate {
    transition: all 0.3s ease;
}

.rotate {
    transition: all 0.3s ease;
    transform: rotate(180deg);
}